* {margin:0; padding:0}
.max .troi {
    width: 250px;
    height: 60px;
    top:220px; left:150px;
    position: absolute;
    transition:0.5s;
    overflow: hidden;
}
.max {  
    position: relative;
    width: 600px;
    height: 600px;
}
.max .anh {
    width: 600px;
    height: 600px;
    left:-20px;
    transition:0.5s;
    position: relative;
    transform-origin: 50% 0%;;
}
.max:hover .anh {
    transform:scale(0.6);
    /* left:0px; */
}
.max .title1 {
    top:50px; left:50px;
    position: absolute;
    font-family: Verdana;
    font-size:50px;
    color: white;
    transition:0.5s;
}
.max:hover .title1 {
    opacity: 0;
}
.max .title2 {
    margin-top:50px;
    margin-left:40px;
    color: white;
    font-size:50px;
    font-family: Verdana;
    transition: 0.5s; 
    opacity: 0;
}
.max:hover .title2 {
    opacity: 1;
    margin-top:0px;
}
.max .troi2 {
    width: 200px;
    height: 40px;
    top:280px; left:190px;
    position: absolute;
    transition:0.5s;
    overflow: hidden;
}
.max .title3 { 
    margin-top:40px;
    color: white;
    font-size:20px;
    font-family: Verdana;
    transition: 0.5s; 
    opacity: 0;
}
.max:hover .title3 {
    opacity: 1;margin-top:15px;
}
